body {
    background-color: rgb(14, 2, 2);
    width: 100%;
    height: 100%;

}


.card-body {
    background-color:  rgb(69, 69, 113) ;

}
.caja1 {
    background-color: rgb(73, 37, 37);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 1250px;
    height: 550px;
    margin-left: 45px;
    display: flex;
    justify-content: center;
    
}
.caja1-A {
    margin-top: 40px;
    width: 800px;
    height: 500px;
    
    
}
.caja1-B {
    width: 290px;
    height: 290px;
    margin: 10px;
    
    
}
.ig {
    border-radius: 17px;
}
#borde-icons {
    background-color: rgb(73, 37, 37);

    margin-left: 45px;
  width: 1250px;
  height: 50px;
  display: flex;
  flex-direction: row;
  
 

}
#footer {
    width: 450px;
    height: 50px;
    margin-left: 250px;
    display: flex;
    justify-content:center;
    align-items: center;
    color: black;
}
#img1 {
  width: 30px;
  height: 30px;
  margin: 10px;
  

}
#img2 {
  width: 30px;
  height: 30px;
  margin: 10px;

}
#img3 {
  width: 30px;
  height: 30px;
  margin: 10px;
  
}
img:hover {
  transform: scale(1.2);

}
main {
  width: 100%;
}
