body {
    background-color: rgb(12, 12, 11);
}
nav div {
    background-color:  rgb(69, 69, 113);
}

.card-body {
    background-color:  rgb(69, 69, 113) ;

}
.btn {
    background-color: blue;
}
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    
}